body {
  margin: 0;
}
header {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background-color: #fafafb;
  display: flex;
  border-top: #f48024;
  border-top-width: 3px;
  border-top-style: solid;
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.15);
}
#menu {
  height: 100%;
  width: 3.4%;
  cursor: pointer;
}
#menu:hover {
  background-color: #e4e6e8;
}
.bar1 {
  margin-top: 15px;
  margin-left: 22.72%;
  width: 56.8%;
  height: 3px;
  background-color: rgb(151, 151, 151);
}
.bar2,
.bar3 {
  margin-top: 4px;
  margin-left: 22.72%;
  width: 56.8%;
  height: 3px;
  background-color: rgb(151, 151, 151);
}
#logo {
  cursor: pointer;
  width: 12%;
  height: 100%;
  padding-left: 0.54%;
  padding-right: 0.54%;
  background-color: #fafafb;

  background-repeat: no-repeat;
  background-position: center;
}
#logo:hover {
  background-color: #e4e6e8;
}
#logo img {
  width: 100%;
  height: 47.333px;
}
#searchcontainer {
  flex-shrink: 10000;
  box-sizing: border-box;
  padding-left: 1%;
  padding-right: 1%;
  align-self: center;
  width: 50.2%;
}
.inputicon {
  position: absolute;
  color: #bbc0c4;
  fill: currentColor;
  right: auto;
  left: 0.4em;
  top: 50%;
  margin-top: -9px;
  pointer-events: none;
  width: 3.9%;
}
::placeholder {
  color: #888;
}
.posrelative {
  position: relative;
  width: 100%;
}
input {
  position: relative;
  width: 94%;
  align-self: center;
  padding-left: 5%;
  padding-right: 1.4%;
  padding-top: 7.8px;
  padding-bottom: 7.8px;
  border: 1px solid #bbc0c4;
  border-radius: 3px;
}
#lista {
  width: 20.1%;
  height: 100%;
}
.rightol {
  height: 100%;
  width: 11%;
  overflow-x: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 1.3%;
  margin-right: 1.3%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.rightli {
  padding-left: 2.85%;
  padding-right: 5.71%;
  white-space: nowrap;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
.login {
  color: #3982c0;
  background-color: #e1ecf4;
  position: relative;
  display: inline-block;
  padding: 0.8em;
  border: 1px solid #7aa7c7;
  border-radius: 3px;
  outline: none;
  font-size: 80%;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 27.7%;
}
.login:hover {
  background-color: #b3d3ea;
}
.signup {
  color: white;
  background-color: #0095ff;
  position: relative;
  display: inline-block;
  padding: 0.8em;
  border: 1px solid #0095ff;
  border-radius: 3px;
  outline: none;
  font-size: 80%;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 34.5%;
}
.signup:hover {
  background-color: #0077cc;
}
ol {
  list-style: none;
  display: flex;
  padding-left: 1.3%;
  padding-right: 1.3%;
  height: 33px;
}
#lista ol li {
  height: 100%;
  line-height: 17px;
  border-radius: 100px;

  margin: 2px;
  text-align: center;
}
#about {
  width: 26.5%;
}
#products {
  width: 33.5%;
}
#forteams {
  width: 40%;
}
a {
  text-decoration: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 80%;
  color: #535a60;
  white-space: nowrap;
}
#lista ol li :hover {
  background-color: #e4e6e8;
  padding: 10% 20%;
  border-radius: 100px;
}
