body {
  overflow-x: hidden;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.headerdiv{
  margin:auto;
  display:flex;
  height: 50px;
  width:100%;
  max-width: 97.2307692rem;
}
header {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background-color: #fafafb;
  display: flex;
  border-top: #f48024;
  border-top-width: 3px;
  border-top-style: solid;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(12, 13, 14, 0.15);
}
#menu {
  margin:0;
  height: 100%;
  width: 3.4%;
  cursor: pointer;
}
#menu:hover {
  background-color: #e4e6e8;
}
.bar1 {
  margin-top: 15px;
  margin-left: 22.72%;
  width: 56.8%;
  height: 3px;
  background-color: rgb(151, 151, 151);
}
.bar2,
.bar3 {
  margin-top: 4px;
  margin-left: 22.72%;
  width: 56.8%;
  height: 3px;
  background-color: rgb(151, 151, 151);
}
.logo {
  cursor: pointer;
  width: 12%;
  height: 100%;
  background-color: #fafafb;
  background-repeat: no-repeat;
  align-items: center;
}
.logo:hover {
  background-color: #e4e6e8;
}
.logomobile {
  width: 100%;
  height: 47.333px;
}
.logodesktop{
  width:80%;
  margin-left:10%;
  height:100%;
}
#searchcontainer {
  flex-shrink: 10000;
  box-sizing: border-box;
  padding-left: 1%;
  padding-right: 1%;
  align-self: center;
  width: 50.2%;
}
.inputicon {
  position: absolute;
  color: #bbc0c4;
  fill: currentColor;
  right: auto;
  left: 0.4em;
  top: 50%;
  margin-top: -9px;
  pointer-events: none;
  width: 3.9%;
}
::placeholder {
  color: #888;
}
.posrelative {
  position: relative;
  width: 100%;
}
input {
  position: relative;
  width: 94%;
  align-self: center;
  padding-left: 5%;
  padding-right: 1.4%;
  padding-top: 7.8px;
  padding-bottom: 7.8px;
  border: 1px solid #bbc0c4;
  border-radius: 3px;
}
#lista {
  width: 20.1%;
  height: 100%;
}
.rightol {
  height: 50px;
  width: 140px;
  overflow-x: auto;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 2%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.rightli {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
  margin-left:5%;
  list-style: none;
}
.login {
  color: #3982c0;
  background-color: #e1ecf4;
  position: relative;
  display: inline-block;
  padding: 0.8em;
  border: 1px solid #7aa7c7;
  border-radius: 3px;
  outline: none;
  font-size: 80%;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 27.7%;
}
.login:hover {
  background-color: #b3d3ea;
}
.signup {
  color: white;
  background-color: #0095ff;
  position: relative;
  display: inline-block;
  padding: 0.8em;
  border: 1px solid #0095ff;
  border-radius: 3px;
  outline: none;
  font-size: 80%;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 34.5%;
}
.signup:hover {
  background-color: #0077cc;
}
ol {
  list-style: none;
  display: flex;
  padding-left: 1.3%;
  padding-right: 1.3%;
  height: 33px;
}
#lista ol li {
  height: 100%;
  line-height: 17px;
  border-radius: 100px;

  margin: 2px;
  text-align: center;
}
#about {
  width: 26.5%;
}
#products {
  width: 33.5%;
}
#forteams {
  width: 40%;
}
a {
  text-decoration: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 80%;
  color: #535a60;
  white-space: nowrap;
}
#lista ol li :hover {
  background-color: #e4e6e8;
  padding: 10% 18%;
  border-radius: 100px;
}
.xmobile {
  visibility: visible;
}
.vmobile {
  visibility: collapse;
}

@media only screen and (max-width: 900px) {
  .bar1 {
    margin-top: 15px;
    margin-left: 22.72%;
    width: 35%;
    height: 3px;
    background-color: rgb(151, 151, 151);
  }
  .bar2,
  .bar3 {
    margin-top: 4px;
    margin-left: 22.72%;
    width: 35%;
    height: 3px;
    background-color: rgb(151, 151, 151);
  }
  .xmobile {
    visibility: collapse;
  }
  .vmobile {
    visibility: visible;
  }
  .rightcontainer {
    padding-left: 10%;
  }
  .search-mobile {
    margin-left: 20%;
    height: 50px;
    color: #bbc0c4;
    cursor: pointer;
    fill: currentColor;
  }
  #menu {
    height: 100%;
    width: 10%;
    cursor: pointer;
  }
  .fixprod {
    width: 100%;
    height: 100%;
  }
  .mobileol {
    height: 100%;
    width: 50%;
    overflow-x: auto;
    overflow-y: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 1.3%;
    margin-right: 1.3%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  .searchdiv {
    width: 15%;
    height: 100%;
    cursor: pointer;
    margin-left: auto;
  }
  .searchdiv:hover {
    background-color: #e4e6e8;
  }
  .fixprod {
    padding-left: 20%;
  }
}
/**************************************************main***************************************************/
#main {
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f0f0;
}
#main-logo {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width: 64px;
  height: 64px;
}
#linked-login {
  width: 280px;
  height: 135px;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.box {
  width: 100%;
  height: 25%;
  flex-grow: 1;
  margin-bottom: 5px;
  background-color: blue;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #d7d7d7;
}
#google-logo {
  background-image: url("assets/g-removebg-preview(1).png");
  z-index: 2;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  float: left;
  margin-top: 12.5px;
  position: relative;
  left: 25%;
}
#git-logo {
  background-image: url("assets/git-logo-refeito.png");
  z-index: 2;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  float: left;
  margin-top: 12.5px;
  position: relative;
  left: 27%;
}
#face-logo {
  background-image: url("assets/face_blue.png");
  z-index: 2;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  float: left;
  margin-top: 12.5px;
  position: relative;
  left: 27%;
}
.login-p {
  display: flex;
  margin-top: 12.5px;
  left: 30%;
  position: relative;
  left: 20%;
}
#google {
  background-color: #fff;
  font-size: 13px;
}
#github {
  background-color: #2f3337;
  font-size: 13px;
  color: #fff;
}
#facebook {
  background-color: #385499;
  font-size: 13px;
  color: #fff;
}
#login-info {
  width: 232px;
  height: 184px;
  position: relative;
  margin: auto;
  background-color: #fff;
  border-radius: 3%;
  padding: 24px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05), 0 20px 48px rgba(0, 0, 0, 0.05),
    0 1px 4px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}
#login-button {
  width: 230px;
  height: 41px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 12px;
  background-color: #0095ff;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #0095ff;
  color: #fff;
}
/************************************************Spans****************************************************/
#l1 {
  width: 280px;
  height: 100px;
  padding-top: 40px;
  font-size: 13px;
  position: relative;
  margin: auto;
}
#l1 a:link,
#l1 a:visited {
  color: #0095ff;
}